<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kanbanos</title>
  <link rel="stylesheet" href="/css/board-browser.css">
</head>
<body>

<h1>Welcome, user: <%=data.username%></h1>

<div>
<h2>Board browser</h2>
<form action="/board-search" method="post">
  <select name="board_list" id="board_list">
    <% data.user_boards.forEach(board => { %>
    <%- `<option value=${board._id}>${board.name}</option>` %>
    <% }); %>
  </select>
  <input type="submit" name="submit" value="Submit">
</form>
<br>
<h2>Board creator</h2>
<form action="/board-create" method="post">
  <input type="text" name="boardName" id="boardName" placeholder="boardName">
  <input type="submit" name="submit" value="Submit">
</form>
</div>
</body>
</html>
