<div class="task">
    <div class="task-top">
        <div class="text-area">
            <%=task.description%>
        </div>
    </div>
    <div class="task-bot">
        <div class="task-title"><%=task.title%></div>
        <div class="task-deadline">do: <%=task.end_date%></div>
    </div>
</div>