<div class="task">
    <div class="task-top">
        <div class="text-area">
            ...
        </div>
    </div>
    <div class="task-bot">
        <div class="task-title">Lorem ipsum dolor sit amet</div>
        <div class="task-deadline">do: 27 luty 13:51</div>
    </div>
</div>