<div class="task">
  <div class="task-top">

    <div class="dropdown">
      <button class="dropbtn">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.5 2.5H13.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M4.5 7H13.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M4.5 11.5H13.5" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <div class="dropdown-content" style="display: none;">
        <button class="editbtn">Edytowanie</button>
          <div class="formContainer" style="display: none;">
            <form class="taskForm" method="post">
              <div class="input-group">
                <label>Task Name:</label>
                <input type="text" class="taskName" name="taskName" required>
              </div>
              <div class="input-group">
                <label>Opis:</label>
                <input type="text" class="opis" name="opis" required>
              </div>
              <div class="input-group">
                <label>Wybierz zdjęcie</label>
                <input type="file" class="pic" name="pic" accept="image/*">
              </div>
              <input type="submit" value="Submit">
            </form>
          </div>
        <button>Usuwanie</button>
      </div>
    </div>


    <div class="text-area">
      <%=task.description%>
    </div>

  </div>
  <div class="task-bot">
    <div class="task-title"><%=task.title%></div>
    <div class="task-deadline">
      until:
      <% const date = new Date(task.end_date); %>
      <%= date.toLocaleDateString('en-US', {day: 'numeric', month: 'long'}); %>
      ,
      <%= date.toLocaleTimeString('en-US', {hourCycle: 'h23', hour: '2-digit', minute: '2-digit'});  %>
    </div>
  </div>
</div>


<script>
    let dropbtns = document.getElementsByClassName('dropbtn');

    for (let i = 0; i < dropbtns.length; i++) {
    dropbtns[i].addEventListener('click', function() {
      let dropdownContent = this.nextElementSibling;

      dropdownContent.style.display === 'block' ?
              dropdownContent.style.display = 'none' :
              dropdownContent.style.display = 'block';
    });
  }

    let editbtns = document.getElementsByClassName('editbtn');

    for (let i = 0; i < dropbtns.length; i++) {
      editbtns[i].addEventListener('click', function() {
        let dropdownContent = this.nextElementSibling;

        dropdownContent.style.display === 'block' ?
                dropdownContent.style.display = 'none' :
                dropdownContent.style.display = 'block';
      });
    }


</script>
